<a href="https://colab.research.google.com/github/ayush-0210/Crowdsourced-Beer-Recommendation-System/blob/main/main_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Team Members: 


1.   Sahil Arora (sa52643)
2.   Kaushik Kumaran (kk34537)
3.   Ayush Malani (am95655)
4.   Harsh Mehta (hdm564)
5.   Charan Musunuru (cm59982)
6.   Allie Touchstone (awt529)

## Task A: Scrape Data and Collect ~6000 Beer Reviews

This was done using webscraper.io.

## Task B: Attribute Selection using Word Frequencies

Importing the necessary libraries

In [ ]:
# !pip install pandas==1.3.3
from sklearn.preprocessing import MinMaxScaler
from sklearn.manifold import MDS
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt
import pandas as pd
import nltk
from nltk import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from collections import Counter
!pip install vaderSentiment

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
# Uploading the data frame 
from google.colab import files
uploaded = files.upload()

Saving beeradvocate.csv to beeradvocate.csv

In [ ]:
beer_df = pd.read_csv('beeradvocate.csv')

In [ ]:
def word_counts(x):
    # Word tokenize your comment
    x = str(x)
    tokens = word_tokenize(x)
    # Collecting the stopwords
    stop_words = set(stopwords.words('english'))
    
    # Removing the stopwords
    tokens_rm_stp = []
    for token in tokens:
        lt = token.lower() 
        if lt not in stop_words:
            tokens_rm_stp.append(lt)
    
    # Creating a word frequency dictionary
    counter = Counter(tokens_rm_stp)
    return counter

In [ ]:
beer_count = pd.DataFrame(list(beer_df['product_review'].map(word_counts)))
beer_count = beer_count.fillna(0)
beer_counts = pd.DataFrame(beer_count.sum().sort_values(ascending = False))

In [ ]:
beer_counts.head(60)

                   0
.            47491.0
,            45201.0
:             5273.0
beer          4994.0
head          3804.0
taste         3115.0
chocolate     2844.0
dark          2738.0
's            2697.0
-             2683.0
sweet         2403.0
like          2356.0
one           2261.0
coffee        2190.0
bourbon       2127.0
nice          2070.0
vanilla       2067.0
notes         2059.0
nose          2046.0
!             2035.0
’             1969.0
good          1958.0
well          1896.0
light         1829.0
finish        1815.0
pours         1790.0
carbonation   1770.0
fruit         1730.0
aroma         1727.0
bottle        1702.0
bit           1652.0
orange        1636.0
body          1635.0
overall       1599.0
mouthfeel     1593.0
black         1579.0
white         1560.0
really        1549.0
flavor        1524.0
barrel        1487.0
;             1463.0
medium        1457.0
great         1444.0
oak           1440.0
lacing        1438.0
glass         1423.0
smooth        1420.0
little        1417.0
thick         1402.0
n't           1360.0
brown         1328.0
)             1327.0
flavors       1320.0
citrus        1317.0
(             1317.0
smell         1231.0
color         1227.0
feel          1221.0
malt          1187.0
poured        1173.0

Attributes Chosen:

•	Aggressive: Boldly assertive aroma and/or taste <br>
•	Balanced: Equal representation of malt sweetness and hop bitterness in the flavor — especially at the finish <br>
•	Fruity: Flavors reminiscent of various fruits <br>

In [ ]:
# Replaced 'I want beer' with three atrributes. It is better if it is in a sentence.
y = 'Aggressive Balanced Fruity'

In [ ]:
beer_df

                                 product_name  ...                                     product_review
0                                 Omega Point  ...  22oz. capped bottle into a Brooklyn Brewery sn...
1                     Trappistes Rochefort 10  ...  This is a wonderful Quad, but the alcohol note...
2                               Double Nelson  ...  750mL growler from the brewery. Pours a hazy p...
3                                       Great  ...  Deep amber with a surprisingly thick, white he...
4                                 West Ashley  ...  Pours a cloudy orange colored beer with a medi...
...                                       ...  ...                                                ...
6222                                    Flora  ...  Florence is probably my favorite shelf Saison ...
6223                            Juice Machine  ...  Canned on 8/5/20. Poured into a gravity pint g...
6224                          Double Sunshine  ...  29JUL20 saw a second visit to Lawson's in 2 da...
6225  Imperial German Chocolate Cupcake Stout  ...  750ml bottle poured into a snifter\n\n\n\nA- p...
6226                                    Juicy  ...  Poured from a bottle into a Dogfish Head tulip...

[6227 rows x 3 columns]

In [ ]:
beer_df.dropna(inplace=True)

## Task C: Cosine Similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

def cos_sim(x):
    corpus = [x,y]
    vectorizer = TfidfVectorizer()
    trsfm = vectorizer.fit_transform(corpus)
    return cosine_similarity(trsfm[0], trsfm)[0][1]

In [ ]:
beer_df['sim_scores_with_attr'] = beer_df['product_review'].map(cos_sim)

In [ ]:
beer_df[beer_df['sim_scores_with_attr'] != 0.000000]

                              product_name  ...  sim_scores_with_attr
5        Double Dry Hopped Congress Street  ...              0.046395
7                                  Crusher  ...              0.014030
8        Double Dry Hopped Congress Street  ...              0.027074
10                            Black & Wild  ...              0.028544
17                         Emerald Grouper  ...              0.012386
...                                    ...  ...                   ...
6209                     Pliny The Younger  ...              0.011359
6217                               Ephraim  ...              0.127847
6218                  Notorious Triple IPA  ...              0.036559
6219  Speedway Stout - Bourbon Barrel-Aged  ...              0.023868
6226                                 Juicy  ...              0.052925

[1175 rows x 4 columns]

## Task D: Sentiment Analysis

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()
def get_sentiment(review, **kwargs):
    sentiment_score = analyser.polarity_scores(review)
    positive_meter = round((sentiment_score['pos'] * 100), 2)
    negative_meter = round((sentiment_score['neg'] * 100), 2)
    return positive_meter if kwargs['k'] == 'positive' else negative_meter

In [ ]:
beer_df['positive_sent_score'] = beer_df['product_review'].apply(get_sentiment, k='positive')
beer_df['negative_sent_score'] = beer_df['product_review'].apply(get_sentiment, k='negative')

In [ ]:
beer_df

                                 product_name  ...  negative_sent_score
0                                 Omega Point  ...                  2.1
1                     Trappistes Rochefort 10  ...                 13.4
2                               Double Nelson  ...                  0.0
3                                       Great  ...                  0.0
4                                 West Ashley  ...                  4.2
...                                       ...  ...                  ...
6222                                    Flora  ...                  8.0
6223                            Juice Machine  ...                 10.0
6224                          Double Sunshine  ...                  3.7
6225  Imperial German Chocolate Cupcake Stout  ...                  2.3
6226                                    Juicy  ...                  5.2

[6224 rows x 6 columns]

In [ ]:
beer_df[beer_df['sim_scores_with_attr']==0].shape[0]

5049

## Task E: Evaluation Score

In [ ]:
score_df = beer_df.groupby('product_name')[['positive_sent_score','sim_scores_with_attr']].mean()
score_df['positive_sent_score_scaled'] = (score_df['positive_sent_score']  - score_df['positive_sent_score'] .min())/(score_df['positive_sent_score'].max() - score_df['positive_sent_score'].min())
score_df['final_score'] = score_df['positive_sent_score_scaled'] + score_df['sim_scores_with_attr']
score_df.sort_values(by='final_score',ascending=False)[:3]

              positive_sent_score  ...  final_score
product_name                       ...
DFPF                       24.420  ...     1.015545
Flora Plum                 22.712  ...     0.867999
Rare Scooop                22.488  ...     0.838532

[3 rows x 4 columns]

In [ ]:
import spacy 
!python -m spacy download en_core_web_md
# nlp = spacy.load("en_core_web_md")
import en_core_web_md
nlp = en_core_web_md.load()
import warnings; warnings.simplefilter('ignore')

Collecting en_core_web_md==2.2.5
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz (96.4 MB)
     |████████████████████████████████| 96.4 MB 22.2 MB/s
Requirement already satisfied: spacy>=2.2.2 in /usr/local/lib/python3.7/dist-packages (from en_core_web_md==2.2.5) (2.2.4)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (57.4.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (2.0.5)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.1.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (2.23.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (4.62.3)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (7.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (0.8.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (3.0.5)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.5)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (0.4.1)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (4.8.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (3.7.4.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (1.24.3)
Building wheels for collected packages: en-core-web-md
  Building wheel for en-core-web-md (setup.py) ... done
  Created wheel for en-core-web-md: filename=en_core_web_md-2.2.5-py3-none-any.whl size=98051302 sha256=bacbb9af17781318bcbb017cf5dd7fc33b4110ebfda4b33ed841754750da0fd5
  Stored in directory: /tmp/pip-ephem-wheel-cache-0_ft4qgt/wheels/69/c5/b8/4f1c029d89238734311b3269762ab2ee325a42da2ce8edb997
Successfully built en-core-web-md
Installing collected packages: en-core-web-md
Successfully installed en-core-web-md-2.2.5
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_md')

In [ ]:
user_comment = "Aggressive Balanced Fruity" # Balanced, Complex, Crisp, Fruity, Robust
doc2 = nlp(user_comment)

def find_similarity(review):
    review_nlp = nlp(review)
    sim_score = review_nlp.similarity(doc2)
    return sim_score
beer_df['spacy_score'] = beer_df['product_review'].apply(find_similarity)

In [ ]:
score_df = beer_df.groupby('product_name')[['positive_sent_score','spacy_score']].mean()
score_df['positive_sent_score_scaled'] = (score_df['positive_sent_score']  - score_df['positive_sent_score'] .min())/(score_df['positive_sent_score'].max() - score_df['positive_sent_score'].min())
score_df['final_score'] = score_df['positive_sent_score_scaled'] + score_df['spacy_score']
score_df.sort_values(by='final_score',ascending=False)[:3]
score_df.reset_index(inplace=True)

              positive_sent_score  ...  final_score
product_name                       ...
DFPF                       24.420  ...     1.584696
Flora Plum                 22.712  ...     1.464694
Keene Idea                 22.404  ...     1.409543

[3 rows x 4 columns]

In [ ]:
score_df

                                product_name  ...  final_score
0                      A Deal With The Devil  ...     0.981861
1    A Deal With The Devil - Double Oak-Aged  ...     1.321830
2                                      Aaron  ...     0.904797
3                                      Abner  ...     1.049027
4                               Abrasive Ale  ...     0.964231
..                                       ...  ...          ...
245                                   Westly  ...     0.949698
246                  Wide Awake It's Morning  ...     0.880930
247                         Zenne Y Frontera  ...     1.197077
248                              Zombie Dust  ...     0.858549
249                                   §ucaba  ...     1.015678

[250 rows x 5 columns]

## Task F and G: Recommendations

In [ ]:
# Top 3 rated beers from the dataset
score_df_top = beer_df.groupby('product_name')['product_rating'].mean()
score_df_top.sort_values(ascending=False)[:3]

product_name
Chemtrailmix             4.77160
Vanilla Bean Assassin    4.74625
Blessed                  4.74280
Name: product_rating, dtype: float64

In [ ]:
top_rated = score_df_top.sort_values(ascending=False)[:3].index

In [ ]:
score_df[score_df['product_name'].isin( top_rated)]

              product_name  ...  final_score
38                 Blessed  ...     1.338529
54            Chemtrailmix  ...     0.896420
238  Vanilla Bean Assassin  ...     1.293617

[3 rows x 5 columns]


Insight
Beer Attributes considered - Aggressive, Balanced, Fruity

Our recommendations using Spacy Similarity:
1. DFPF 
2. Flora Plum
3. Keene Idea

Our recommendations are products that have both high average similarity scores and sentiment scores. It seems that spacy gives much more middle-of-the-road scores while the sentiment scores are more polarized in each direction. 


After manually glancing through the user reviews for these, we could find that people enjoy the fruity flavor in 'DFPF' and 'Flora Plum,' which backs up our user's 'fruity' preference. The same as our last recommendation - 'Keene Idea,' which is highly regarded for its aggressive and balanced taste. This suggests that our recommendations contain a balanced mix of fruity flavors and do justice to the user preference of 'balanced' and 'fruity.'


Top Rated Beers from the dataset:
1. Blessed 
2. Chemtrailmix 
3. Vanilla Bean Assassin

From the user reviews of these top-rated beers, we saw that the top-rated beers are not that bad of a recommendation. They all have around average positive sentiment scores and similarity scores with the attributes.
The spacy scores alone are very similar. The recommendations from the spacy similarity have an average spacy score of 0.59, and the recommendations from the dataset have an average spacy score of 0.57. However, compared with the sentiment scores where the spacy recommendations have an average sentiment score of 0.89, and the dataset recommendations have an average of 0.59, the spacy recommendations should be more favorable to the customer. 

We could infer that these three beers are reasonably good when considering the specific tastes they offer; however, our recommendations should provide the customer with options that better aline with their preferences.